{{/*
  GetLocals
  Returns a list of local source declaration based on declaration settings

  @author @regisphilibert

  @context Map 

  @access private

  @return Slice of strings
*/}}
{{ $local := slice }}

{{ $config := partialCached "huge/config/Get" "fonts" "fonts" }}

{{/* We add local */}}
{{/* 1. Font local setting is ommited */}}
{{ $add_local := not (isset . "local") }}
{{/* 2. OR font local setting is not `false` */}}
{{ $add_local = $add_local | or (ne .local false) }}
{{/* 2. AND fonts global setting `disable_local` is not true */}}
{{ $add_local = $add_local | and (not $config.disable_local) }}

{{ if $add_local }}
  {{ with .local }}
    {{/* This safely append the value of .local (a string or a slice) to the $local slice */}}
    {{ $local = $local | append . }}
  {{ else }}
    {{/* If local is not set, we'll build it ourselves based on the font family name */}}
    {{ with .family }}
      {{ $local = $local | append . }}
      {{/* If a whitespace is in the family name, we can add a local with dash in place of ws */}}
      {{ if in . " " }}
        {{ $local = $local | append (replace . " " "-") }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $local }}