{{/*
  GetLocals
  Returns a list of local source declaration based on declaration settings

  @author @regisphilibert

  @context Map 

  @access private

  @return Slice of strings
*/}}
{{ $local_output := slice }}

{{ $config := partialCached "huge/config/Get" "fonts" "fonts" }}

{{/* Default is always true, meaning we built it ourselves */}}
{{ $local := true }}

{{ if isset $ "local" }}
  {{ $local = $.local }}
{{ end }}
{{/* If local is neither true nor false, it means it is a string or a slice */}}
{{ if not (in (slice true false) $local) }}
  {{/* This safely append the value of .local (a string or a slice) to the $local slice */}}
  {{ $local_output = $local_output | append $local }}
{{ else }}
  {{/* Only if it's true... */}}
  {{ if $local }}
    {{ with $.family }}
      {{ $local_output = $local_output | append . }}
      {{/* If a whitespace is in the family name, we can add a local with dash in place of ws */}}
      {{ if in . " " }}
        {{ $local_output = $local_output | append (replace . " " "-") }}
      {{ end }}
    {{ end }}
  {{ end }}
  
{{ end }}

{{ return $local_output }}