{{/*
  ParseFont
  Parse data from Module's settings font declaration and base declarations

  @author @regisphilibert

  @context Map

  @access private

  @return Map
      String (.file)
      Slice (.local)
      Boolean | Slice of Strings (.preload)
      Resources (.resources)
      Map (.propertiers)
        String (.family)
        String (.weight)?
        String (.style)?
        String (.display)?
        String (.variant)?
        String (.feature-settings)?
        String (.variation-settings)?
      

*/}}
{{ $s := newScratch }}
{{ $s.Set "data" dict }}

{{ $config := partialCached "huge/config/Get" "fonts" "fonts" }}

{{ with .file }}
  {{ with resources.Match (print "/" . ".*") }}
    {{/* This ensures woff2 and woff are declared first, it seems we can't realy rely on SubType (cloufflare as '' for woff2...) */}}
    {{ with sort . "Name" "desc" }}
      {{ $s.SetInMap "data" "resources" (sort . "Name" "desc")  }}
    {{ end }}
  {{ else }}
    {{ partial "huge/console/warn" (printf "We did not find matching font files for basename `/%s`.\nAs a result no @font-face CSS at-rule will be printed for this font. \nFont files should be added to the project's `assets` directory and match the relative path set in the font's settings." .) }}
  {{ end }}
{{ end }}

{{ $font := . }}
{{ with $config.cascade }}
  {{ $font = merge . $font }}
{{ end }}

{{ with partialCached "huge/fonts/private/GetLocals" $font $font }}
  {{ $s.SetInMap "data" "local" . }}
{{ end }}


{{ with partialCached "huge/fonts/private/SanitizeProperties" $font $font }}
  {{ $s.SetInMap "data" "properties" . }}
{{ end }}

{{ $preload := true }}

{{ with $font }}
  {{/* Isset to ensure a falsy value is taken into account if set. */}}
  {{ if isset . "preload" }}
    {{ $preload = .preload }}
  {{ end }}
{{ end }}

{{ $s.SetInMap "data" "preload" $preload }}

{{ if not ($s.Get "data").resources }}
  {{ $s.Set "data" dict }}
{{ end }}

{{ return $s.Get "data" }}