{{/*
  ParseFont
  Parse data from Module's settings font declaration. For now it only adds a .resources containing the font files assets.

  @author @regisphilibert

  @context Map

  @access private

  @return Map
      String (.family)
      String (.file)
      Slice (.local)
      Boolean (.preload)
      Resources (.resources)
      String (.family)?
      String (.weight)?
      String (.style)?
      String (.display)?
      String (.variant)?
      String (.feature-settings)?
      String (.variation-settings)?
      

*/}}
{{ $font := . }}
{{ $config := partialCached "huge/config/Get" "fonts" "fonts" }}

{{ with .file }}
  {{ with resources.Match (print "/" . ".*") }}
    {{/* This ensures woff2 and woff are declared first, it seems we can't realy rely on SubType (cloufflare as '' for woff2...) */}}
    {{ with sort . "Name" "desc" }}
      {{ $font = merge $font (dict "resources" (sort . "Name" "desc")) }}
    {{ end }}
  {{ else }}
  {{ partial "huge/console/warn" (printf "We did not find matching font files for basename `%s`.\nFont files should be added to the project's `assets` directory and match the relative path set in the font's settings." .) }}
  {{ end }}
{{ end }}

{{ with partialCached "huge/fonts/private/GetLocals" . . }}
  {{ $font = merge $font (dict "local" .) }}
{{ end }}

{{/* We'll charge the parsed font with its `preload` preference. */}}
{{ $preload := false }}
{{/* First we check for the global setting */}}
{{ $preload_setting := $config.preload | default "always" }}
{{ if partialCached "huge/env/When" $preload_setting $preload_setting }}
  {{ $preload = . }}
{{ end }}
{{/* if preload is set (can be `false`) on the declaration itself, it overwrites global's */}}
{{ if isset $ "preload" }}
  {{ $preload = $.preload }}
{{ end }}
{{ $font = merge $font (dict "preload" $preload) }}

{{ return $font }}