{{/*
  huge/styles/private/transform/_
  Returns a resource from a given registered style and apply the needed transformation using
  the transformation functions available from directory.

  @author @regisphilibert

  @context Map

  @access private

  @returns Resource
  @uses
    - huge/styles/private/transform/toCSS?
    - huge/styles/private/transform/tailwind?
    - huge/styles/private/transform/PostCSS?
    - huge/styles/private/transform/minify?
    - huge/styles/private/transform/fingerprint?
  @example - Go Template
    {{ with partialCached "huge/styles/private/transform/_" context context }}
      {{ something = . }}
    {{ end }}
*/}}
{{ $resource := dict }}
{{ with resources.Get .path }}
  {{ $resource = . }}
{{ else }}
  {{ partial "huge/console/warn" (printf "Style file with path %s is not found" .path) }}
{{ end }}
{{ with $resource }}
  {{ range $.transformations }}
    {{ $partial := . }}
    {{ $context := $resource }}
    {{/* Some transformation holds arguments with a map context. For those, the partial name
      will be held in .transformation while the context (or arguments) are hold in .context */}}
    {{ if reflect.IsMap . }}
      {{ $context = dict
        "resource" $resource
        "context" .context
      }}
      {{ $partial = .transformation }}
    {{ end }}
    {{ $resource = partial (print "huge/styles/private/transform/" $partial) $context }}
  {{ end }}
{{ end }}

{{ return $resource }}