{{/*
  huge/env/When
  Returns a bool when testing a string:
   never: false
   always: true
   {env}: true

  @author @regisphilibert

  @context String | Slice of Strings (.)

  @access private

  @returns Bool

  @example - Go Template
    {{ with partialCached "When" "production" "production" }}
      Yes let's do it!
    {{ end }}
*/}}
{{ $return := false }}

{{ $env := partialCached "huge/env/Get" "Get" }}

{{ if eq $ "never" }}
  {{ $return = false }}
{{ else if eq $ "always" }}
  {{ $return = true }}
{{ else }}
  {{/* If the context is a Slice, we'll test all the slice's strings against the current environment */}}
  {{ if reflect.IsSlice $ }}
    {{ $return = in $ $env }}
  {{/* Else, we just test the lone string */}}
  {{ else }}
    {{ $return = eq $ $env }}
  {{ end }}
{{ end }}

{{ return $return }}